@import "tailwindcss";

@layer base {
	body {
		color: #eef6ff;
		min-height: 100dvh;
		background: linear-gradient(120deg, #141b2e 0%, #1a2338 50%, #171f2f 100%);
		background-size: 400% 400%;
		animation: gradientShift 15s ease infinite;
	}
	input:-webkit-autofill,
	textarea:-webkit-autofill,
	select:-webkit-autofill {
		-webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
		-webkit-text-fill-color: #fff !important;
		caret-color: #fff !important;
		transition: background-color 5000s ease-in-out 0s !important;
	}
	@keyframes gradientShift {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
}
